

body {
    text-align: center;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #4E31AA, #BBDED6);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.tab .nav {
    width: 100%;
    text-align: left;
    background-color: rgba(128, 128, 128, 0.5); /* Grey background with 50% transparency */
    cursor: move;
}

.tab {
    width: 30vw;
    height: 50vhpx; 
    color: white;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    user-select: none;
    padding: 0%;
}

.tab-content {
    max-height: 120px; 
    overflow-y: auto;
    padding: 10px;
    background-color: #0056b3; 
    border-radius: 5px;
}

a {
    color: white;
}

p {
    font-family: "Share Tech", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    height: auto;
    border-color: orange;
    background-color: #32004f;
    width: 95vw;
    border-radius: 10px;
    border-style:groove;
    font-optical-sizing: auto;
    font-family: "Share Tech", sans-serif;
    color: white;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "EDPT" 100, "EHLT" 12;
    top: 10vh;
    left: 10vh;
}

h3 {
    font-size: 25px;
      font-family: "Share Tech", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

main {
    margin-top: 0.5vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #220135;
    background-image: linear-gradient(to bottom, #220135, #3a015c);
    border-style:groove;
    padding: 1vh;
    width: 80vw;
    height: auto;
    color:azure;
    border-color: orange;
    border-radius: 10px;
    top: 20vh;
    left: 20vh;
}

footer {
    border-color: orange;
    margin-bottom: 0.5vh;
    border-style:groove;
    background-color: #3a015c;
    width: 98vw;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 1vw;
    right: 1vw;
}

.icon {
    position: fixed;
    left: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
}

.icon img {
    width: 50px;
    height: 60px;
    padding: 5px;
}

.icon img:hover {
    animation: shake 1s infinite;
}

#mail {
    width: 50px;
    height: 80px;
    padding: 0px;
    object-fit: cover;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shakeFlip {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-2deg); }
    20% { transform: translate(-3px, 0px) rotate(2deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(2deg); }
    50% { transform: translate(-1px, 2px) rotate(-2deg); }
    60% { transform: translate(-3px, 1px) rotate(90deg); }
    70% { transform: translate(3px, 1px) rotate(180deg); }
    80% { transform: translate(-1px, -1px) rotate(270deg); }
    90% { transform: translate(1px, 2px) rotate(300deg); }
    100% { transform: translate(1px, -2px) rotate(360deg); }
}

@keyframes peek {
    0% { transform: rotate(0deg); }
    10% { transform: translate(5px,0px) (10deg); }
    20% { transform: translate(10px,0px) (25deg); }
    30% { transform: translate(20px,0px) rotate(35deg); }
    40% { transform: translate(40px,0px) rotate(45deg); }
    50% { transform: translate(50px,0px) rotate(60deg); }
    60% { transform: translate(40px,0px) rotate(45deg); }
    70% { transform: translate(20px,0px) rotate(35deg); }
    80% { transform: translate(10px,0px) rotate(25deg); }
    90% { transform: translate(5px,0px) rotate(10deg); }
    100% { transform: translate(0px,0px) rotate(0deg); }
}

#hirebut {
    animation: shakeFlip;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: absolute;
    z-index: 5;
    left: 100px;
    top: 100px
}

#hirebutelem {
    width: 80px;
    height: 30px;
    border-color: orange;
    border-radius: 2px;
    background-color: #4E31AA;
    color: yellow;
    font-size: 15px;
}

img {
    width: 95px;
}

#tux {
    position: absolute;
    right: 10vw;
    top: 50%;
    animation: peek;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-delay: 3s;
    animation-iteration-count: 1;
}
